html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

svg {
  background: white;
}
svg .regione, svg .provincia, svg .comune {
  stroke: white;
  cursor: pointer;
  stroke-linejoin: round;
}
svg .regione, svg .provincia {
  fill: transparent;
}
svg .regione {
  stroke-width: 0.3;
}
svg .provincia {
  stroke-width: 0.1;
}
svg .comune {
  stroke-width: 0.04;
}
svg .regione.active, svg .provincia.active {
  fill: none;
}
svg .zoom_regione .regione:not(.active) {
  fill: rgba(255, 255, 255, 0.7);
}
svg .zoom_provincia .regione {
  fill: none;
}
svg .zoom_provincia .provincia:not(.active) {
  fill: rgba(255, 255, 255, 0.7);
}
svg .zoom_comune .regione {
  fill: none;
}
svg .zoom_comune .provincia {
  fill: none;
}
svg .zoom_comune .comune:not(.active) {
  opacity: 0.3;
}
